annotated-types==0.6.0
anyio==3.7.1
astroid==3.0.1
blinker==1.7.0
certifi==2023.11.17
click==8.1.7
dill==0.3.7
distro==1.8.0
exceptiongroup==1.2.0
Flask==3.0.0
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mccabe==0.7.0
mdurl==0.1.2
openai==1.3.5
platformdirs==4.0.0
pydantic==2.5.2
pydantic_core==2.14.5
Pygments==2.17.2
pylint==3.0.2
python-dotenv==1.0.0
python-frontmatter==1.0.1
PyYAML==6.0.1
rich==13.7.0
sniffio==1.3.0
sqlite-vss==0.1.2
tenacity==8.2.3
tomli==2.0.1
tomlkit==0.12.3
tqdm==4.66.1
typing_extensions==4.8.0
Werkzeug==3.0.1
